@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.showcase{
    background-image: url(../img/tesla\ rodester.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.nav-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 46px;
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left:1rem;

}
.navbar a:hover{
    color: rgb(139, 136, 136);
}
.section{
    color: rgb(7, 253, 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10px);
}
.section h1{
    font-size: 5rem;

}
.linkby a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left:1rem;

}
.linkby a:hover{
    color: rgb(139, 136, 136);

}
.ali{
    background-image: url(../img/model\ s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10px);
}
.aliasghar{
    color: black;
    text-align:justify;
}
.kale{
    color: black;
    text-align:center;
    
    
}
.model3{
    background-image: url(../img/6f1f00600e3c7b35d72b7504ad90aa63.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10px);
}
.mode3{
    color: black;
    text-align:justify;
}
.mod3{
    color: black;
    text-align:center;
    
}